.menu-title {
	width: 100vw;
	font-family: Lucida Console;
	font-weight: bold;
	font-style: oblique;
	font-size: 30px;
	color: #FF6663;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px
		0 #000;
}

.menu {
	position: relative;
	float: left;
	width: 45%;
	margin: 0 2%;
	border: 0px solid red;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

.menu .button {
	font-family: Courier;
	font-size: medium;
	font-weight: bold;
	padding: 1% 15%;
	background-color: #f0b8be;
	border: 2px solid #ce1126;
	border-radius: 10px;
	opacity: 80%;
	transition-duration: 0.4s;
	margin-bottom: 10px;
}

.menu .button:hover {
	cursor: pointer;
	background-color: #ce1126;
	color: white;
	opacity: 100%;
}

.non-menu .button {
	background-color: #A8E890;
	border: 2px solid #38E54D;
}

.non-menu .button:hover {
	background-color: #38E54D;
}